<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="navbar navbar-default " style="height: 140px">
      <div class="navbar-container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
           <%= link_to "SS", root_path, {class: "fonty_text", style: "font-size: 170px;line-height: 140px;margin-left: 40px;position: absolute; bottom: 0;margin-bottom:0px;"} %>
        </div>
        <div style="display: inline-block;">
          <ul style="width: 94%;float: right;margin-bottom: .3em;position: absolute; bottom: 0;">
            <div style="margin:auto;">
              <div class="row" style="min-height: 3vh">
                <div class="col-xs-6">
                  <span style="float: right;font-size: 5em;" class="glyphicon glyphicon glyphicon glyphicon-console content_font"><%= link_to "Github", "http://www.github.com/scsilver", { :target => "_blank", class: "content_font", style: "float: right;margin-left: .1em;font-size: 1.4em;"} %></span>
                </div>
                <div class="col-xs-6">
                  <span style="float: right;font-size: 5em;" class="glyphicon glyphicon glyphicon glyphicon-folder-open content_font"><%= link_to "Portfolio", "/posts/1", { class: "content_font", style: "float: right;margin-left: .28em;font-size: 1.4em;"} %></span>
                </div>

            </li>
          </ul>
        </div>
      </div>
    </div>



    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51149429-3', 'auto');
      ga('send', 'pageview');

    </script>



  <div id="mobile" class="container-fluid">
    <div class="col-xs-3">
      <div class="row">
        <%= link_to "SS", root_path, {class: "fonty_text", style: "font-size: 30vw; line-height:32vw; float: right;"} %>
      </div>
      <br>
      <div class="row" style="min-height: 3vh">
        <span style="float: right;" class="glyphicon glyphicon glyphicon-envelope content_font"><%= link_to "Scott Silverstein", "mailto:scsilver.umd@gmail.com",{ :target => "_blank", class: "content_font", style: "float: right;margin-left: .1em;font-size: 3vw;"}  %></span>
      </div>
      <div class="row" style="min-height: 3vh">
        <span style="float: right;" class="glyphicon glyphicon glyphicon glyphicon-folder-open content_font"><%= link_to "Portfolio", "/posts/1", {class: "content_font", style: "float: right;margin-left: .28em;font-size: 3vw;"} %></span>
      </div>
      <div class="row" style="min-height: 3vh">
        <span style="float: right;" class="glyphicon glyphicon glyphicon-file content_font"><%= link_to "Resume", "https://drive.google.com/file/d/0BxXbdTNXzKX5OENHVFB0Tm8zSmM/view?usp=sharing",{ :target => "_blank", class: "content_font", style: "float: right;font-size: 3vw;"}  %></span>
      </div>
      <div class="row" style="min-height: 3vh">
        <span style="float: right;" class="glyphicon glyphicon glyphicon glyphicon-console content_font"><%= link_to "Github", "http://www.github.com/scsilver", { :target => "_blank", class: "content_font", style: "float: right;margin-left: .1em;font-size: 3vw;"} %></span>
      </div>



    </div>
    <div id="content_page" class="col-xs-9" style="overflow-y: scroll;height: 100vh;">
      <div class="container" style="margin: auto; width: 80%;padding-top: 10vw;">
        <%= yield %>
      </div>
    </div>

    <div id="content_page" class="col-xs-12" style="overflow-y: scroll;height: 100vh;">
        <%= yield %>
    </div>
  </div>
</body>
<!--  Google analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51149429-3', 'auto');
  ga('send', 'pageview');

</script>
</html>
